body{
    width: 275px;
    background-color: beige;
}

@font-face{
    font-family:'Engagement-Regular';
    font-style:'normal';
    font-weight:'300';
    src:url('fonts/Engagement-Regular.ttf') format('truetype');   
}
@font-face{
    font-family:'Cormorant-Medium';
    font-style:'normal';
    font-weight:'300';
    src:url('fonts/Cormorant-Medium.ttf') format('truetype');   
}
.even {
    background-color:aliceblue;
    border:ridge;
    font-family: inherit;
    font-size: 20px;
    font-family: Cormorant-Medium;
    text-indent: 11px;   
    
}

 #reset {
    position: absolute;
    right: 9px;
    top: 5px;
    left: 215px;
    height: 24px;
    width: 57px;
    font-size: 12px;
}

.odd {
    border: ridge;
    background-color:lightgreen;
    font-family: inherit;
    font-size: 20px;
    font-family: Cormorant-Medium;
    text-indent: 11px;
}
.alarms {
    position: relative;
    height: 2px;
    width: min-content;
    right: -190px;
    top: -34px;
    color: firebrick;
    font-size: smaller;
    font-style: oblique;
    font-family: sans-serif;
    font: bold;
    font-weight: bold;
}

#time{
    position: relative;
    display: inline-block;
    top: 4.9px;
}
#bt0{
    position: absolute;
    display: inline-block;
    top: 36px;
}
#text{
    display: inline-block;
    position: relative;
    width: 120px;
    top:4.5px;
}




#heading{
    font-family:'Engagement-Regular';
    font-weight: 600;
    font-size: 40px;
    text-shadow: 4px 4px 4px #aaa;
}

#0{
    background-color: antiquewhite;
}
