body{
    width: 275px;
    background-color: beige;
}

@font-face{
    font-family:'Engagement-Regular';
    font-style:'normal';
    font-weight:'300';
    src:url('Engagement-Regular.ttf') format('truetype');   
}

#bt0{
    position: absolute;
    display: inline-block;
    top: 36px;
}
#in{
    display: inline-block;
    position: relative;
    width: 160px;
}



#heading{
    font-family:'Engagement-Regular';
    font-weight: 600;
    font-size: 40px;
    text-shadow: 4px 4px 4px #aaa;
}

#notes{
    background-color: antiquewhite;
}
#t1{
    background-color: azure;
}
